<div class="w-full h-full border-r bg-white flex flex-col">
  <div class="flex flex-row justify-between items-center p-4">
    <h3 class="font-semibold text-lg">Chats</h3>
    <div class="flex justify-center items-start gap-5">
      <button class="btn-grande" (click)="changeView.emit('newChat')">
        <mat-icon>add_box</mat-icon>
      </button>
      <button class="btn-grande" [matMenuTriggerFor]="menu" #menuTrigger>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
      </mat-menu>
    </div>
  </div>
  <div class="flex flex-row gap-3 px-5 my-2">
    <button class="px-3 py-1.5 bg-blue-600 text-white rounded-lg">Todos</button>
    <button class="px-3 py-1.5 bg-blue-600 text-white rounded-lg">No Leidos</button>
  </div>
  <div class="overflow-y-auto flex-1">
    @for (chat of chats; track chat.id) {
    <div class="p-4 hover:bg-gray-100 cursor-pointer border-b" (click)="selectChat(chat)">
      <div class="flex justify-between">
       <span class="font-medium">{{ chat | chatName}}</span>
        <span class="text-xs text-gray-500">{{chat.last_date | formatearFecha}}</span>
      </div>

      <div class="text-sm text-gray-500">
        {{chat.last_message}}
      </div>
    </div>
    }
  </div>
</div>