<div class="w-full min-h-screen border-r bg-white flex flex-col">
  <div class="flex flex-row items-center justify-start gap-5 p-4">
    <button class="flex items-center justify-center" (click)="changeView.emit('chatList')">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <h3 class="text-lg font-medium">Nuevo chat</h3>
  </div>
  <div class="flex flex-col">
    <div class="flex flex-row items-center hover:bg-gray-200 cursor-pointer gap-3 p-4"
     (click)="openDialogAddContact()">
      <button class="btn-grande rounded-lg">
        <mat-icon>person_add</mat-icon>
      </button>
      <p class="text-md">Nuevo Contacto</p>
    </div>
    <div class="flex flex-row items-center hover:bg-gray-200 cursor-pointer gap-3 p-4"
      (click)="openDialogCreateGroup()">
      <button class="btn-grande rounded-lg">
        <mat-icon>group_add</mat-icon>
      </button>
      <p class="text-md">Nuevo Grupo</p>
    </div>
  </div>
</div>