<div class="h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-xl shadow-md w-96">
    <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>
    <form [formGroup]="formLogin" (ngSubmit)="login()">
      <div class="space-y-1 my-3">
        <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
        <input type="email" placeholder="ejemplo@correo.com"
          class="w-full p-2 border rounded focus:outline-none focus:ring-2 transition-all"
          [class.border-red-500]="formLogin.get('email')?.invalid && formLogin.get('email')?.touched"
          formControlName="email" />
        <div *ngIf="formLogin.get('email')?.invalid && formLogin.get('email')?.touched"
          class="text-red-500 text-xs mt-1">
          <span *ngIf="formLogin.get('email')?.errors?.['required']">El correo es obligatorio.</span>
          <span *ngIf="formLogin.get('email')?.errors?.['email']">Ingresa un formato de correo válido.</span>
        </div>
      </div>
      <div class="space-y-1 my-3">
        <label for="password" class="block text-sm font-medium text-gray-700">Contraseña</label>
        <input type="password" placeholder="Ingresa la contraseña" class="w-full mb-4 p-2 border rounded"
          [class.border-red-500]="formLogin.get('password')?.invalid && formLogin.get('password')?.touched"
          formControlName="password" />
        <div *ngIf="formLogin.get('password')?.invalid && formLogin.get('password')?.touched"
          class="text-red-500 text-xs mt-1">
          <span *ngIf="formLogin.get('password')?.errors?.['required']">El contraseña es obligatoria.</span>
        </div>
      </div>
      <button type="submit" [disabled]="formLogin.invalid || isSubmitting"
        class="w-full mt-4 bg-blue-600 text-white p-2 rounded hover:bg-blue-700 disabled:bg-gray-400 transition-colors">
        <span *ngIf="!isSubmitting">Iniciar sesión</span>
        <span *ngIf="isSubmitting">Enviando...</span>
      </button>
    </form>
    <p class="text-center my-3">
      ¿No tienes una cuenta?
      <span routerLink="/register" class="text-blue-700 cursor-pointer">Registrate</span>
    </p>
  </div>
</div>