/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Éxito */
.success-snackbar {
  --mdc-snackbar-container-color: #2e7d32 !important;
  --mdc-snackbar-supporting-text-color: #ffffff !important;
}

/* Error */
.error-snackbar {
  --mdc-snackbar-container-color: #d32f2f !important;
  --mdc-snackbar-supporting-text-color: #ffffff !important;
}

/* Advertencia */
.warning-snackbar {
  --mdc-snackbar-container-color: #ed6c02 !important;
  --mdc-snackbar-supporting-text-color: #ffffff !important;
}

/* Color del texto del botón de acción */
.success-snackbar .mat-mdc-snack-bar-action,
.error-snackbar .mat-mdc-snack-bar-action,
.warning-snackbar .mat-mdc-snack-bar-action {
  --mdc-snackbar-action-label-text-color: #ffffff !important;
}